{% extends "modelo.html" %}
{% block conteudo %}
<style>
.container{
  margin: 180px auto 0 auto;
  width: 600px;
}

h1{
  margin-bottom: 15px;
}
</style>

<div class="container">
<h1 class="text-center">Adicionar Tarefa</h1>

<form action="{{ url_for('criar_tarefa')}}" method="post">
  <div class="mb-3">
    <label for="tarefa" class="form-label">Tarefa:</label>
    <input  class="form-control" id="tarefa" name="tarefa" aria-describedby="emailHelp" autofocus autocomplete="off">
    <div id="tarefaHelp" class="form-text"></div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
{% endblock %}