{% extends "modelo.html" %}
{% block conteudo %}

<style>
    .container {
        margin: 180px auto 0 auto;
        width: 600px;
    }

    h1 {
        margin-bottom: 15px;
    }
</style>

<div class="container">
    <h1>Editar Termo - {{ termo }}</h1>
    <form action="{{ url_for('atualizar_termo', termo_id=termo_id) }}" method="post">
        <label for="novo_termo">Termo:</label>
        <input type="text" name="novo_termo" value="{{ termo }}" required>
        <br>
        <label for="nova_definicao">Definição:</label>
        <input type="text" name="nova_definicao" value="{{ definicao }}" required>
        <br>
        <button type="submit">Atualizar Termo</button>
    </form>
</div>
{% endblock%}