{% extends "modelo.html" %}
{% block conteudo %}
<ul class="task-list">
    {% for todo in todos %}
    <li class="task-item">
      <span class="task-text" {% if todo['done'] %}style="text-decoration: line-through; opacity: 0.5;" {% endif %}>{{ todo['task'] }}</span>
      <a href="{{ url_for('check', index=loop.index0) }}" class="task-action check">concluir</a>
      <a href="{{ url_for('edit', index=loop.index0) }}" class="task-action edit">editar</a>
      <a href="{{ url_for('delete', index=loop.index0) }}" class="task-action delete">excluir</a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}